footer {
    background-color: #5d0214;
    color: #fff;
    padding: 20px 0;
}

.footer-content {
    max-width: 1200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-logo img {
    width: 100px;
    height: auto;
}

.footer-links ul {
    
    display: flex;
}


.footer-links a {
    text-decoration: none;
    color: #fff;
}

.footer-links a:hover {
    text-decoration: underline;
}